doctype html
html(lang="en")
    head
        meta(charset="utf-8")
        title Laravel 5 and Marionette
        link(rel='stylesheet', href='css/style.css')
    body
        H1 Laravel Works!
        p Check the console
        script(src="{{ asset('/js/vendor/requirejs/require.js') }}")
        script(src="{{ asset('/js/app/require_main.js') }}")